
* { margin: 0px; padding: 0px; }

body {
	font-size: 14px;
	font-family: sans-serif, arial;
}

@font-face {
  font-family: "MoonFlower";
  src: url("MoonFlower.ttf");
}

body.scrolled header {
	background: none;
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100px;

}
body.scrolled section {
	margin-top: 400px;
}

header {
	height: 300px;
	background: transparent url("../images/header.jpg") top left no-repeat;
	background-size: cover;
	/*border-top: solid 2px #c06e00;*/
}

header h1 {
	font-family: MoonFlower;
	margin: 30px;
	font-size: 5em;
}


#ext {
	position: fixed;
	top: 0px;
	right: 0px;
}
#ext li {
	display: inline-block;
}
#ext a:link, #ext  a:visited {
	display: block;
	padding: 10px;
	background-color: black;
	color: white;
	text-decoration: none;
	transition: all 0.5s ease;
}
#ext a:hover {
	background-color: #c06e00;
}

#int {
	position: fixed;
	top: 150px;
	left: 0px;
}
#int li {
	margin: 3px 0px;
}
#int a:link, #int a:visited {
	display: block;
	background-color: black;
	padding-left: 20px;
	width: 0px;
	height: 20px;
	overflow: hidden;
	transition: all 0.5s ease;
	color: white;
	text-decoration: none;
}
#int a:hover {
	width: 60px;
}

article {
	background-color: #EEEEEE;
	padding: 50px;
	margin: 100px 30px;
}

p {
	margin: 5px 0px;
	text-align: justify;
}

#images #imagesContainer {
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}
#images div.bof {
	flex: 0 1 300px;
	margin-bottom: 30px;
}
#images div.bof img {
	width: 100%;
	height: auto;
}







