
* { margin: 0px; padding: 0px; }
<<<<<<< HEAD
=======
body {
	font-family: sans-serif, arial;
	font-size: 14px;
}

#form {
	margin: 50px;
	border: solid 2px #AAAAAA;
	border-radius: 5px;
}
/* Pas bien mais ça le fait quand même */
#form * {
	transition: all 0.5s ease;
}

.fieldContainer {
	margin: 30px;
}
.fieldContainer label {
	display: inline-block;
	width: 200px;
}
input[type=text] {
	border: solid 2px #AAAAAA;
	background-color: white;
	padding: 7px;
	border-radius: 5px;
	width: 300px;
}
input[type=text].focus {
	border-color: #77AAFF;
	width: 400px;
}

.switchValue {
	display: inline-block;
	vertical-align: middle;
}
.switcher {
	display: inline-block;
	width: 60px;
	border: solid 2px #AAAAAA;
	border-radius: 20px;
	margin: 0px 10px;
	height: 25px;
	position: relative;
	vertical-align: middle;
}
.switchButton {
	display: inline-block;
	position: absolute;
	top: 2px;
	left: 2px;
	width: 21px;
	height: 21px;
	border-radius: 50%;
	background-color: #AAAAAA;
}
.switcher.switched .switchButton {
	left: 37px;
}




.multiselectList {
	display: inline-block;
	border: solid 2px #AAAAAA;
	padding: 5px 30px 5px 5px;	
	position: relative;
	cursor: pointer
}
.multiselectList:hover {
	border-color: #77AAFF;
}
.multiselectList::after {
	content: "";
	position: absolute;
	top: 8px;
	right: 5px;

	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 10px 0 10px;
	border-color: #AAAAAA transparent transparent transparent;
}
.multiselectList:hover::after {
	border-top-color: #77AAFF;
}

#bg {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0,0.1);
}
.dropdown {
	position: absolute;
	border: solid 2px #AAAAAA;
	background-color: white;
	padding: 2px;
}
.dropdown li {
	list-style-type: none;
	padding: 5px;
	min-width: 100px;
	cursor: pointer;
	text-align: center;
}
.dropdown li:hover {
	background-color: #77AAFF;
	color: white;
}

.multiselectValues {
	margin-left: 200px;
}

.multiselectValues li {
	display: inline-block;
	list-style-type: none;
	margin: 5px;
	background-color: #AAAAAA;
	color: white;
	border-radius: 20px;
	padding: 4px 10px;
}
.multiselectValues li span {
	cursor: pointer;
	display: inline-block;
	margin-left: 15px;
	width: 15px;
	height: 15px;
	line-height: 15px;
	text-align: center;
}
.multiselectValues li span:hover {
	border-radius: 50%;
	color: #AAAAAA;
	background-color: white;
}


>>>>>>> c40b92a83e13605eec61046ee36e78273b57f9f7

