

#bg {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100vh;
	width: 100vw;

	background-color: rgba(0,0,0,0.5);

}

#authSuperContainer {
	width: 300px;
	margin: 100px auto;
	position: relative;
}
canvas {
	position: absolute;
	top: 0px;
	left: 0px;
	pointer-events: none;
}
#authContainer {
	width: 300px;
	height: 300px;
	margin: 0px auto;
	background-color: white;
	border-radius: 40px;
	/*box-shadow: 0px 0px 40px black;*/

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	transition: all 0.5s ease;
}
#authContainer.authContainerHover {
}

.authButton {
	flex: 1 1 20%;
	border-radius: 50%;
	border: solid 1px #AAAAAA;
	margin: 5%;
	transition: all 0.5s ease;
}


.authButtonHover.authButton {
	background-color: #EEEEEE;
}

.authButtonSelected {
	background-color: #CCCCCC;
}

.authButtonSelected.authButtonFail {
	background-color: #CC9999;
}
.authButtonSelected.authButtonOK {
	background-color: #99CC99;
}