* {
	margin: 0px;
	padding: 0px;
	position: relative;
}
@font-face {
	font-family: coolvetica;
	src: url("coolvetica.ttf");
}
body {
	font-size: 14px;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	font-family: coolvetica;
}
header {
	background-color: black;
	color: white;
	flex: 0 0 100px;
	line-height: 100px;
}
header::after {
	content: "";
	position: absolute;
	width: 0px;
	height: 0px;
	border-left: solid 100vw black;
	border-bottom: solid 3.3vw white;
}
header h1 {
	margin-left: 30px;s
}
nav {
	flex: 0 0 50px;
	margin-top: 3.25vw;
}
nav ul {
	margin-left: 20px;
	margin-top: -5px;
}
nav li {
	display: inline-block;
	width: 100px;
	padding: 0px 20px;
	background-color: orangered;
	color: black;
	margin-right: 10px;
	cursor: pointer;
	transition: all 0.5s ease;
	border-bottom: solid 0px white;
	height: 30px;
	line-height: 30px;
	text-align: center;
}
nav li:nth-child(2) {
	padding-top: 5px;
}
nav li::before {
	content: "";
	position: absolute;
	top: -5px;
	left: 0px;
	width: 0px;
	height: 0px;
	border-right: solid 140px orangered;
	border-top: solid 5px transparent;
}
nav li:hover {
	border-bottom: solid 10px black;
}
nav li.selected {
	border-bottom: solid 10px orangered;	
}
section {
	flex: 1 1 auto;
	padding: 20px;
}
#all-jokes {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.joke {
	flex: 1 1 300px;
	background-color: orangered;
	margin: 10px;
	padding: 10px;
}
.joke-text::before {
	content: '« ';
}
.joke-text {
	font-weight: bold;
}
.joke-text::after {
	content: ' »';
}

#admin section {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
#admin article {
	border: solid 2px black;
	padding: 10px;
	margin: 10px;
	flex: 1 0 350px;
}

#admin textarea {
	width: 350px;
	max-width: 350px;
	height: 200px;
	border: solid 2px black;
	margin: 10px;
}
#admin button {
	background-color: black;
	cursor: pointer;
	transition: all 0.5s ease;
	padding: 5px 10px;
	border: none;
	color: white;
}
#admin button:hover {
	background-color: orangered;
}
#admin #jokes {

}
.joke-to-delete {
	background-color: orangered;
	display: inline-block;
	margin: 5px;
	padding: 5px;
}
#admin #trash {
	width: 100px;
	height: 100px;
	border: solid 3px black;
	border-radius: 20px;
}

footer {
	flex: 0 0 20px;
	line-height: 20px;
	text-align: center;
	background-color: black;
	color: white;
}