
#mazeDiv {
	position: relative;
}

#mazeDiv div {
	width: 10px;
	height: 10px;
	float: left;
}

.wall {
	background-color: black;
}
.floor {

}
.lineEnd {
	clear: left;
}

#mazeDiv .player {
	background-color: green;
	position: absolute;
}
#mazeDiv .me  {
	background-color: orangeRed;
}


.playerPseudo {
	position: absolute;
	font-family: arial;
	font-size: 0.7em;
	top: -10px;
	left: 15px;
}

#coin {
	background-color: yellow;
	position: absolute;

}