
* { margin: 0px; padding: 0px; }

body {
	font-family: sans-serif, arial;
	height: 100vh;
	display: flex;
	flex-direction: column;
}
header {
	flex: 0 0 auto;
	background-color: Black;
	color: white;
	padding: 20px;
}
nav {
	flex: 0 0 auto;
}
nav ul {
	margin-left: 20px;
}
nav ul li {
	display: inline-block;
}
nav a:link, nav a:visited {
	background-color: black;
	color: white;
	display: block;
	padding: 5px 10px;
	text-decoration: none;
	transition: all 0.5s ease;
}
nav a:hover {
	background-color: OrangeRed;
}
section {
	flex: 1 1 auto;
	padding: 20px;



}
h2 {
	margin: 20px 0px;
}
p {
	margin: 10px;
}
table {
	border-collapse: collapse;

}
table td {
	padding: 5px;
	border: solid 1px OrangeRed;
}
footer {
	flex: 0 0 auto;
	background-color: black;
	color: white;
	font-size: 0.9em; 
	padding: 10px;
}